/.quarto/
.Rproj.user
archive/*
_site/*
data/*
figures/*
out/*
SupplementaryTables/*

*.ai
figures/icons/*
figures/panels/*

*.qs
*.docx
.Rbuildignore
.DS_Store
out/*

*.Rdata
*.Rds
*.pdf
*.png
*.csv
*.hdf5